<h2>Functional Programming</h2>

In [4]:
#tuples
#immutable data types
from collections import namedtuple

student = namedtuple('student',['name','age','gpa'])
doran = student('Doran',121,9.8)

<h4>Reduce, Map, Filter</h4>

In [5]:
#map(), reduce(), filter()
import numpy as np
xs = tuple(np.arange(1,40))
filtered_xs = filter(lambda x:x%3!=0 or x%10!=0, xs)
print(tuple(filtered_xs))
mapped_xs = map(lambda x: x**.5, xs)
print(tuple(mapped_xs))

from functools import reduce
reduced_xs = reduce(lambda x,y: x*y , [1,2,3,4,5]) #same as factorial
print(reduced_xs)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39)
(1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795, 3.3166247903554, 3.4641016151377544, 3.605551275463989, 3.7416573867739413, 3.872983346207417, 4.0, 4.123105625617661, 4.242640687119285, 4.358898943540674, 4.47213595499958, 4.58257569495584, 4.69041575982343, 4.795831523312719, 4.898979485566356, 5.0, 5.0990195135927845, 5.196152422706632, 5.291502622129181, 5.385164807134504, 5.477225575051661, 5.5677643628300215, 5.656854249492381, 5.744562646538029, 5.830951894845301, 5.916079783099616, 6.0, 6.082762530298219, 6.164414002968976, 6.244997998398398)
120

<p>Chaining Filter and Map</p>

In [6]:
nums = (2, 12, 5, 8, 9, 3, 16, 7, 13, 19, 21, 1, 15, 4, 22, 20, 11)
greater_than_10_doubled = map(lambda x: x*2, filter(lambda x: x>10 , nums))
print(tuple(greater_than_10_doubled))

(24, 32, 26, 38, 42, 30, 44, 40, 22)

Chaining All 3 Higher-Order Functions

filter-map-reduce!

In [9]:
from functools import reduce

costs = {"shirt": (4, 13.00), "shoes":(2, 80.00), "pants":(3, 100.00), "socks":(5, 5.00), "ties":(3, 14.00), "watch":(1, 145.00)}

nums = (24, 6, 7, 16, 8, 2, 3, 11, 21, 20, 22, 23, 19, 12, 1, 4, 17, 9, 25, 15)


total = reduce(lambda x, y: x + y, 
               filter(lambda x: x>150, 
                      map(lambda item: costs[item][0] * costs[item][1], costs)))
print(total)

product = reduce(lambda x, y : x * y,
                 map(lambda x: x+5, 
                     filter(lambda x: x<10, nums))
                 )

print(product)

460.0
72648576

<h3>Processing JSON Data</h3>

In [26]:
import json
from collections import namedtuple
city = namedtuple("city", ["name", "country", "coordinates", "continent"])
with open('city.json','r') as jsonfile:
    data = json.load(jsonfile)
    cities = map(lambda x: city(x["name"], x["country"], x["coordinates"], x["continent"]), data["city"])
    asia = tuple(filter(lambda city: city.continent == "Asia", cities))
    print(asia)

(city(name='Beirut', country='Lebanon', coordinates=[33.8938, 35.5018], continent='Asia'), city(name='Dubai', country='United Arab Emirates', coordinates=[25.2048, 55.2708], continent='Asia'), city(name='Mumbai', country='India', coordinates=[19.076, 72.8777], continent='Asia'), city(name='Shanghai', country='China', coordinates=[31.2304, 121.4737], continent='Asia'), city(name='Osaka', country='Japan', coordinates=[34.6937, 135.5023], continent='Asia'))

In [31]:
from functools import reduce

def count(predicate, itr):
  f = filter(predicate, itr)
  return reduce(lambda x,y: x+1, f,0)

predicate = lambda x: x % 2 == 0
itr = tuple(range(1, 30))

print(count(predicate, itr))

14

In [41]:
def average(itr):
  iterable = iter(itr) 
  def avg_helper(curr_count, itr, curr_sum):
    next_num = next(itr,'null')     
    if next_num == 'null': return curr_sum/curr_count
    return avg_helper(curr_count+1, itr, curr_sum+ next_num)
  return avg_helper(0, iterable, 0)
  
print(average([1,2,3,4,5]))

3.0

In [ ]:
from collections import namedtuple